.errMessage {
  z-index: 2200;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



// .bottom-msg-block {
//     background-color: $hilti-steel2;
//     z-index: 2200;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     width: 70%; 
//     color: $hilti-white;
//     margin: auto;
//     padding: 20px;

//     .icon-close {
//         color: $hilti-white;
//         cursor: pointer;
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         width: 60px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//    /* 
//     .inner-content {
  
//       span.ico {
//         color: #ffaf00;
//       }
//       p {
//         color: $hilti-white;
//         margin: 0;
//       }
//       .close-ico {
//         color: $hilti-white;

//         cursor: pointer;
//       }
//     }
  
//     &.success-msg {
//       span.ico {
//         color: #19af37;
//       }
   
//     } */
//   }