

@for $i from 0 through 100 {
  .marT-#{$i} {
      margin-top: #{$i}px !important;
  }
  .marB-#{$i} {
      margin-bottom: #{$i}px !important;;
  }
  .marL-#{$i} {
      margin-left: #{$i}px !important;
  }
  .marL--#{$i} {
    margin-left: -#{$i}px !important;
}
  .marR-#{$i} {
      margin-right: #{$i}px !important;
  }

  .padT-#{$i} {
      padding-top: #{$i}px !important;
  }
  .padB-#{$i} {
    padding-bottom: #{$i}px !important;
}
  .padL-#{$i} {
      padding-left: #{$i}px !important;
  }
  .padR-#{$i} {
      padding-right: #{$i}px !important;
  }
  
  
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}
